.customForm {
  display: flex;
  /* align-items: flex-start; */
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 10px 10px 10px 10px !important;
  overflow-y: auto;
  overflow-x: hidden;
}
