p {
  margin: 0 !important;
}

.mainCard {
  background-color: #e4e4e4;
  width: 150px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 1px 0px 15px 0px #d6d6d6;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px;
}

.imageContainer {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.imageContainer img:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.cardBottom {
  flex: 3;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Name p {
  font-size: 20px;
}

.price del {
  font-weight: normal;
  font-size: medium;
}

.price p {
  font-weight: bold;
  font-size: large;
  color: rgba(238, 15, 15, 0.74);
}

.branding {
  position: absolute;
  bottom: 8%;
  left: 5%;
}

.branding img {
  width: 30px;
  height: 30px;
}
