.bottom-bar-main{
  width: 100%;
  background-color:rgb(76,108,255);
  color: white;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 30px 30px 0 0;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  -webkit-box-shadow: 1px -4px 3px 2px rgba(240, 240, 240, 1);
  -moz-box-shadow: 1px -4px 3px 2px rgba(240, 240, 240, 1);
  box-shadow: 1px -4px 3px 2px rgba(240, 240, 240, 1);
}
.bottom-bar-item{
  display: flex;
  flex-direction: column;
}

.iconInBottomBar {
  font-size: 25px;
  /* border-radius: 25%; */
}

.iconInBottomBarPressed {
  border-radius: 40%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(145deg, #ffffff, #e6e6e6, #ffffff);
  box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff; */
  background: #ffffff;
  box-shadow: inset 5px 5px 21px #f0efef, inset 5px 5px 21px #f0efef;
}

.bottom-bar-item:hover {
  font-size: 16px;
  cursor: pointer;
}

.heartPosition {
  position: relative;
}

.heartIcon {
  position: absolute;
  bottom: -3px;
  right: -27px;
}

.heartPosition .anticon svg {
  /* font-size: 20px; */
}
