body {
  background-color: gainsboro !important;
}

.offersText {
  padding-left: 30px;
  font-weight: bold;
  color: rgba(53, 53, 53, 0.904);
}

.home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
